@namespace SmallsOnline.Web.PublicSite.Client.Shared.Cards

@inherits ComponentBase

<div class="card shadow-sm bg-secondary text-white">
    <div class="card-header">
        <h3 class="card-title mb-0">
            @Title
        </h3>
    </div>
    <div class="card-body">
        @ChildContent
    </div>
</div>