@namespace SmallsOnline.Web.PublicSite

@page "/blog/entry/{Id}"

@if (_isFinishedLoading == false)
{
    <div class="fade-slide-in">
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header">
                        <h1 class="mb-0">
                            <i class="bi bi-journal-text" /> Blog
                        </h1>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <LoadingBar />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="fade-slide-in">
        <div class="row pb-2">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header">
                        <div class="mb-0">
                            <h1>
                                <button type="button" class="btn btn-text-hider btn-glaucous" @onclick="HandleGoBackButtonClick">
                                    <i class="bi bi-arrow-left" /> <span class="btn-hide">Go back</span>
                                </button> <i class="bi bi-journal-text" /> Blog
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fade-slide-in">
        <div class="row">
            <div class="col">
                <BlogEntryCard BlogEntry=@_blogEntry />
            </div>
        </div>
    </div>
}