@namespace SmallsOnline.Web.PublicSite

@page "/"

<PageTitle>
    Smalls.Online - Home
</PageTitle>
<div class="fade-slide-in">
    <div class="card shadow">
        <div class="card-header">
            <h1 class="mb-0">
                <i class="bi bi-house-fill" /> Home
            </h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <p>
                        Welcome to my personal website! My name is Timothy Small (Smalls). I am an IT professional with
                        many years of experience both professionally and personally. This website will showcase all of
                        my work and more. You will find information about myself, projects I am working on or have
                        worked on, pictures I have taken, and more. I also have a separate blog where I ramble on about
                        what I'm working on and my interests.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>