@namespace SmallsOnline.Web.PublicSite.Client.Shared
@inherits LayoutComponentBase

@using SmallsOnline.Web.PublicSite.Client.Shared.Navigation
@using SmallsOnline.Web.PublicSite.Client.Shared.Sidebar

<div>
    <header>
        <SiteNavbar />
    </header>
    <main>
        <div class="container-fluid">
            <div class="row py-3 justify-content-center">
                <div class="col-md-12 col-lg-9 col-xl-7 col-xxl-6">
                    <CascadingValue Name="ShouldFadeSlideIn" Value="@_shouldFadeSlideIn">
                        @Body
                    </CascadingValue>
                </div>
                <SidebarItem />
            </div>
        </div>
    </main>
</div>