@namespace SmallsOnline.Web.PublicSite.Client.Shared.AboutMe

@inherits ComponentBase

<div class="row">
    <div class="col">
        <div class="pb-4">
            <div class="row">
                <div class="col">
                    <h3 id="education">
                        Education
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col ml-2 pt-2">
                    <h4 class="ms-2">East Carolina University</h4>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div>
                        <div class="list-group list-group-flush">
                            <div class="list-group-item">
                                <div>
                                    <h5>Year graduated</h5>
                                    <p>
                                        2016
                                    </p>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div>
                                    <h5>Degree</h5>
                                    <p>
                                        BS Information Computer Technology
                                    </p>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div>
                                    <h5>Concentration</h5>
                                    <p>
                                        Cyber-Security
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>