@namespace SmallsOnline.Web.PublicSite.Client.Shared.AboutMe

@inherits ComponentBase

<div class="row">
    <div class="col">
        <div class="pb-2 text-justify">
            <p>
                I'm a jack of all trades in the IT industry. My skillset ranges from networking, server
                management, virtualization, automation, and cyber security. I have a
                <font class="boldText">
                    BS
                    degree in Information and Computer Technology (Cyber-Security)
                </font> from
                <font class="boldText">
                    <a
                        href="https://ecu.edu" target="_blank" rel="noopener noreferrer">
                        East
                        Carolina University
                    </a>
                </font>. When it comes to work, I spend most of my time managing
                servers, networking, automation through PowerShell, integrating Microsoft 365 services into our
                environment, and cyber-security. For the majority of my professional career, I've worked in
                higher-education.
            </p>
            <p>
                Outside of work, I'm a really chill guy. One of my hobbies is casual photography where I try to
                regularly take photos with my iPhone 11 Pro and employ photo editing techniques to make the best
                possible photo. I'm also a huge weather geek, so meteorology is definitely a huge hobby of mine.
                I'm big into college football and try to watch games every Saturday during the fall season,
                which I've been a long time fan of <font class="auburnBlueText">Auburn</font>
                <font class="auburnOrangeText">University</font> since I was a child. I'm big into video games,
                but I spend most of my time only playing Destiny 2. I'm also a bit of a music nerd and I enjoy
                different genres, but I mainly listen to a lot of metal.
            </p>
            <p>
                In both my work and personal life, I have a strong passion for technology. Over the years I've
                grown to not rely on it for everything, but rather have it augment my day to day life. I used to
                be a power-user outside of work, but now I'm not so much. I was a huge fan of Android and
                Windows on personal devices, but now I've gone all Apple by accident (
                <font class="boldText">
                    Oops
                </font>). The <font class="italicText boldText">It just works™</font> statement most
                people say about Apple products, is strangely true and I don't do
                <font class="italicText">
                    as
                    much
                </font> troubleshooting outside of work. I've always had a strong interest in
                programming as well, but I've never wanted to turn it into a career. My methodology for
                programming is building scripts/programs that increase productivity for not just work, but my
                personal life and my hobbies.
            </p>
        </div>
    </div>
</div>