@namespace SmallsOnline.Web.PublicSite.Client.Shared.AboutMe

@inherits ComponentBase

<div class="row">
    <div class="col">
        <h3 id="skills">
            Skills
        </h3>
    </div>
    <div class="row">
        <div class="col">
            <h4 class="ms-2" id="skills-it">IT Skills</h4>
            <div>
                <div class="list-group list-group-flush">
                    <div class="list-group-item">
                        <div>Windows and Linux-based servers</div>
                    </div>
                    <div class="list-group-item">
                        <div>Microsoft Azure/365 Services</div>
                    </div>
                    <div class="list-group-item">
                        <div>Networking (Basic concepts, Cisco IOS, and HP)</div>
                    </div>
                    <div class="list-group-item">
                        <div>Virtualization (VMWare and Hyper-V)</div>
                    </div>
                    <div class="list-group-item">
                        <div>System Center Configuration Manager (SCCM)</div>
                    </div>
                    <div class="list-group-item">
                        <div>Windows 10 Deployments</div>
                    </div>
                    <div class="list-group-item">
                        <div>Cyber-Security</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4 class="ms-2" id="skills-programming">Programming Languages</h4>
            <div>
                <div class="list-group list-group-flush">
                    <div class="list-group-item">
                        <div>PowerShell (Windows and Core)</div>
                    </div>
                    <div class="list-group-item">
                        <div>Python</div>
                    </div>
                    <div class="list-group-item">
                        <div>Javascript</div>
                    </div>
                    <div class="list-group-item">
                        <div>reactJS</div>
                    </div>
                    <div class="list-group-item">
                        <div>PHP</div>
                    </div>
                    <div class="list-group-item">
                        <div>HTML/CSS</div>
                    </div>
                    <div class="list-group-item">
                        <div>C# (with .NET Standard and Core)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>