@namespace SmallsOnline.Web.PublicSite.Client.Shared.Navigation


<a href="/" class="navbar-brand ms-3 ms-lg-0">
    <img src="https://cdn.smalls.online/images/site/smalls_animal-crossing.webp" width="81" height="74" />
    <span class="text-white align-middle">Smalls</span>
</a>