@namespace SmallsOnline.Web.PublicSite.Shared.Projects

@inherits ComponentBase

@if (_finishedLoading == true)
{
    <div class="card">
        <div class="card-header">
            <h3>
                <span class="pe-2">
                    <i class="bi bi-@_projectType!.Icon bi-icon-color-@_projectType!.BaseType" />
                </span>
                @Name
            </h3>
            <div class="card-subtitle">
                <span class="font-bold-text">
                    Project type: @Type
                </span>
            </div>
        </div>
        <div class="card-body">
            <p>
                @Description
            </p>
        </div>
        <div class="card-footer">
            <div class="float-end">
                <a href=@Url target="_blank" rel="noopener noreferrer" class="btn btn-glaucous text-white projectCardButton"
                role="button">
                    @_buttonText
                </a>
            </div>
        </div>
    </div>
}