@keyframes fade-slidein-keyframes {
    from {
        opacity: 0;
        transform: translateY(25%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

.fade-slide-in {
    animation: fade-slidein-keyframes .3s ease
}