@namespace SmallsOnline.Web.PublicSite.Client

@page "/about-me"

<PageTitle>
    Smalls.Online - About me
</PageTitle>
<HeadContent>
    <meta name="title" property="og:title" content="Smalls.Online - About Me" />
    <meta property="og:description" content="The personal website of Timothy Small (Smalls)." />
    <meta name="author" content="Tim Small">
    <meta property="og:url" content="https://smalls.online/about-me" />
</HeadContent>
<div class="@(ShouldFadeSlideIn is not null && ShouldFadeSlideIn!.Enabled ? "fade-slide-in" : "")">
    <div class="card shadow">
        <div class="card-header">
            <h1 class="mb-0">
                <i class="bi bi-person-lines-fill"></i> About Me
            </h1>
        </div>
        <div class="card-body">
            <AboutMeText />
            <AboutMeEducation />
            <AboutMeSkills />
        </div>
    </div>
</div>