@namespace SmallsOnline.Web.PublicSite.Client

@page "/"

<PageTitle>
    Smalls.Online - Home
</PageTitle>
<HeadContent>
    <meta name="title" property="og:title" content="Smalls.Online" />
    <meta property="og:description" content="The personal website of Timothy Small (Smalls)." />
    <meta name="author" content="Tim Small">
    <meta property="og:url" content="https://smalls.online/" />
</HeadContent>
<div class="@(ShouldFadeSlideIn is not null && ShouldFadeSlideIn!.Enabled ? "fade-slide-in" : "")">
    <div class="card shadow">
        <div class="card-header">
            <h1 class="mb-0">
                <i class="bi bi-house-fill"></i> Home
            </h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <p>
                        Welcome to my personal website! My name is Timothy Small (Smalls). I am an IT professional with
                        many years of experience both professionally and personally. This website will showcase all of
                        my work and more. You will find information about myself, projects I am working on or have
                        worked on, pictures I have taken, and more. I also have a separate blog where I ramble on about
                        what I'm working on and my interests.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>