@namespace SmallsOnline.Web.PublicSite.Shared.Navigation


<a href="/" class="navbar-brand ms-3 ms-lg-0">
    <img src="https://smalls.online/images/pictures/smalls_animal-crossing.png" class="w-25" />
    <span class="text-white align-middle">Smalls</span>
</a>