@namespace SmallsOnline.Web.PublicSite.Client.Shared.Sidebar

@inherits ComponentBase

<div class="col-12 col-sm-6 col-md-5 col-lg-3 col-xl-3 col-xxl-2 pt-4 pt-lg-0">
    <div class="card shadow-lg">
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col">
                    <SidebarProfileImg />
                </div>
            </div>
            <div class="row pt-4 justify-content-center row-cols-auto">
                <div class="col">
                    <a href="https://www.linkedin.com/in/timothy-small-a56965169" target="_blank"
                       rel="noopener noreferrer">
                        <i class="bi bi-linkedin bi-linkedin-color bi-2x"></i>
                    </a>
                </div>
                <div class="col">
                    <a href="https://twitter.com/thetimmysmalls" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-twitter bi-twitter-color bi-2x"></i>
                    </a>
                </div>
                <div class="col">
                    <a href="https://github.com/smalls1652" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-github bi-github-color bi-2x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>