@namespace SmallsOnline.Web.PublicSite.Client.Shared.Sidebar

@inherits ComponentBase

<div class="profile-img border border-primary rounded-circle @_currentAnimationClass">
    <img src="@(!_isSetToDumb ? "https://cdn.smalls.online/images/site/me.jpg" : "https://cdn.smalls.online/images/site/me_dumb.jpg")"
         class="rounded-circle img-fluid" alt="Timothy Small" @onclick="HandleImageClick" />
</div>